<div class="container py-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <div *ngFor="let person of personList" 
       class="block max-w-sm p-6 bg-gray-300 border mx-5 my-5 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-gray-900 dark:text-white">
      {{person.fullName}}
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400 text-center mb-4"> Age: {{person.age}}</p>   

    <div class="flex justify-center gap-2">
      <button (click)="editTag(person.id)" 
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded text-sm transition transform hover:scale-105">
        Edit
      </button>

      <button (click)="removeTag(person.id)" 
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded text-sm transition transform hover:scale-105">
        Remove
      </button>
    </div> 
  </div>  
</div>