
<div class="container py-10 grid grid-cols-3 gap-4">
  <a *ngFor="let person of personList" [routerLink]="['/details', person.id]" routerLinkActive="active" class="block max-w-sm p-6 bg-gray-300 border mx-5 my-5 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
	  <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-gray-900 dark:text-white">{{person.fullName}}</h5>
	  <p class="font-normal text-gray-700 dark:text-gray-400 text-center mb-4"> Age: {{person.age}}</p>   
		<div class="flex justify-center">
	    <button (click)="removeTag(person.id)" class="bg-red-500 hover:bg-red-900 text-white font-bold py-1 px-2 rounded text-center justify-center text-sm  transition duration-200 ease-in-out transform hover:scale-105">Remove</button>
		</div> 
  </a>  
</div>
    
